[Unit]
Description=Simple File Upload HTTP Server
After=network.target
Conflicts=getty@tty1.service

[Service]
Type=simple
PIDFile=/home/art610/locdev/_projects/puregitpy/daemon_pid.pid
ExecStart=/usr/bin/python3.8 /home/art610/locdev/_projects/puregitpy/main.py start --host  --port  --log  --listen  --buffer 
ExecStop=/usr/bin/python3.8 /home/art610/locdev/_projects/puregitpy/main.py stop
ExecReload=/usr/bin/python3.8 /home/art610/locdev/_projects/puregitpy/main.py restart
WorkingDirectory=/home/art610/locdev/_projects/puregitpy/
StandardInput=tty-force
RemainAfterExit=yes
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
